<div class="cardsBlock">
  <div class="cardsBlock__cards">
    <div class="cardsBlock__card">
      <div class="cardsBlock__cardMain">
        <p class="cardsBlock__cardMainTitle">
          Title
        </p>
      </div>
      <div class="cardsBlock__cardControls">
        <i class="fas fa-heart"></i>
        <i class="fas fa-bookmark"></i>
        <i class="fas fa-share"></i>
      </div>
    </div>
    <div class="cardsBlock__card">
      <div class="cardsBlock__cardMain">
        <p class="cardsBlock__cardMainTitle">
          Title
        </p>
      </div>
      <div class="cardsBlock__cardControls">
        <i class="fas fa-heart"></i>
        <i class="fas fa-bookmark"></i>
        <i class="fas fa-share"></i>
      </div>
    </div>
    <div class="cardsBlock__card">
      <div class="cardsBlock__cardMain">
        <p class="cardsBlock__cardMainTitle">
          Title
        </p>
      </div>
      <div class="cardsBlock__cardControls">
        <i class="fas fa-heart"></i>
        <i class="fas fa-bookmark"></i>
        <i class="fas fa-share"></i>
      </div>
    </div>
    <div class="cardsBlock__card">
      <div class="cardsBlock__cardMain">
        <p class="cardsBlock__cardMainTitle">
          Title
        </p>
      </div>
      <div class="cardsBlock__cardControls">
        <i class="fas fa-heart"></i>
        <i class="fas fa-bookmark"></i>
        <i class="fas fa-share"></i>
      </div>
    </div>
  </div>
</div>
