body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul{
  list-style: none;
}
test-life-cards-block{
  width: 50%;
}
test-life-info-block{
  width: 50%;
}
@media screen and (max-width: 991px){
  test-life-cards-block{
    width: 100%;
  }
  test-life-info-block{
    width: 100%;
  }
}
